<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <springProfile name="dev">
        <logger name="com.ibm.mq" level="info"/>
        <logger name="org.springframework.jms" level="info"/>
        <logger name="org.springframework.security" level="info"/>
        <logger name="reactor.netty.http.client.HttpClient" level="info"/>
        <logger name="no.nav.helse" level="trace"/>
        <logger name="org.springframework.web.client" level="trace"/>
        <logger name="org.apache.http" level="trace"/>
        <logger name="org.springframework.graphql" level="trace"/>
        <logger name="org.apache.hc.client5" level="trace"/>
        <logger name="org.apache.cxf.ws.security" level="trace"/>
    </springProfile>
    <springProfile name="local,test">
        <appender name="stdout"
                  class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %X{Nav-CallId} [%thread] %-5level %logger{70} - %msg%n</Pattern>
            </layout>
        </appender>
        <logger name="secure" level="debug" additivity="false">
            <appender-ref ref="stdout"/>
        </logger>
        <logger name="com.ibm.mq" level="trace"/>
        <logger name="org.springframework.jms" level="trace"/>
        <logger name="no.nav.helse" level="trace"/>
    </springProfile>
    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
    <springProfile name="prod">
        <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
            <Name>CONFIDENTIAL_FILTER</Name>
            <Marker>CONFIDENTIAL</Marker>
            <OnMatch>DENY</OnMatch>
        </turboFilter>
    </springProfile>
</configuration>