<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>fragments</title>
</head>
<body>
<div th:fragment="result" id="parent-div">
    <p th:text="${now}"></p>
    <table>
        <tr
                th:each="claim, iStat : ${claims}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${claim.key}"/>
            <td th:text="${claim.value}"/>
        </tr>
    </table>
</div>
</body>
</html>